@font-face {
    font-family: 'Volja';
    src: url('/fonts/Volja/font.ttf') format('truetype'),
        url("/font/Volja/font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UAFSans';
    src: url('/fonts/UAFSans/font.ttf') format('truetype'),
    url("/font/UAFSans/font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}